body {
 box-sizing: border-box;
 height: 100dvh;
 width: 100dvw;
 justify-content: center;
 align-items: center;
}

body,
.container,
.game > *
{
  display: grid;
}

body > .container {
  grid-template-rows: repeat(3, auto);
}

.player {
  grid-template-columns: repeat(2, auto);
}

.playerOne,
.playerTwo {
  grid-template-rows: 40px 60px;
}

.playerOne {
  background-color: green;
}

.playerTwo {
  background-color: blue;
}

.turn {
  height: 100px;
  background-color: yellow;
}

.game {
  grid-template-columns: repeat(3, clamp(100px, 10dvw, 400px));
  grid-template-rows: repeat(3, clamp(100px, 10dvw, 400px));
}

.game > * {
  background-color: red;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: clamp( 4rem, 6dvw, 250px);
}